@import "./variables";

html{
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body{
  background-color: $bkg;
  color: $text;
  font-family: 'Lexend Deca', sans-serif;
  font-stretch: extra-expanded;
  overflow-x: hidden;
  transition: color ease-out 250ms;
  h1{
    font-size: 3rem;
    font-family: 'Lexend Giga', sans-serif;
    color: $text;
  }
  h2{
    font-size: 2.5rem;
    font-family: 'Lexend Deca', sans-serif;
    color: $text;
  }
  p{
    font-size: 1.8rem;
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
    color: $text;
  }
  a{
    text-decoration: none;
    &:before, &:-webkit-any-link{
    color: inherit;
    }
  }
  a:hover{
    text-decoration: underline $text;
  }
  img{
    width: 100%;
    height: auto;
  }
  .bkg{
    @include bkgColor;
  }
  .entete{
    @include enteteBkg;
    @include entetePadding;
    &.row:first-child{
      @include flex(center);
      min-height: 50vh;
    }
  }
  .text{
    text-align: center;
    background-color: $bkg-opacity;
    border-radius: 30px;
    padding: 30px;
  }
  .title{
    @include flex(center);
    text-align: center;
    h2{
      margin: 5vh 5%;
    }
  }
}

/*Header*/
header {
  @include flex(space-around);
	background-color: $bkg-opacity;
	min-height: 10vh;
  
  .container .navbar {
    margin: 0;
    a img {
    width: auto;
    height: 80px;
    }
    .menu {
      @include flex(space-between);
      list-style: none;
    }
  }
  .toggle {
    display: block;
    width: 3rem;
    height: 3rem;
    background-color: $colorUn;
    border-radius: 9999px;
    transition: all 300ms ease-in-out;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      height: 1rem;
      width: 1rem;
      background-image: linear-gradient(to top left, #EDEDED, #EDEDED);
      border-radius: 50%;
      transition: all 400ms ease-in-out;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -2.1rem;
      left: 0;
      width: 3rem;
      height: 3rem;
      border-radius: 45%;
      background-image: linear-gradient(to bottom left, $colorDeux, $text);
      transition: all 300ms ease-in-out;
    }
  }
  .toggle-checkbox {
    display: none;
  }
  .darktoggle.clicked .toggle{
    &::before {
      left: 1.5rem;
    }
    &::after {
      bottom: -1.8rem;
    }
  }
}


/*Index*/
.index{
  .entete{
    @include entetePadding;
    background-image: url(bkg/index.jpg);
  }
  button{
    @include flexBtn;
    @include paddingBtn;
    color: $text;
    background-image: linear-gradient(45deg, $colorUn, $colorDeux);
    border: none;
    border-radius: 15px;
  }
}

/*Communication Outils*/
.communication_outils{
  padding: 10vh 0;
  .container .row{
    &.title{
      display: block;
      text-align: center;
      h2{
        margin: 0;
      }
      p{
        margin-bottom: 5vh;
      }
    }
    &.outils{
      @include flex(space-around);
    }
    img{
      @include img;
    }
  }
}

/* Projets */
.meilleurs_projets{
  .row{
    margin: 10vh 0;
  }
  h2{
    text-align: center;
    padding: 15px 30px;
  }
  .content .buttons{
    margin: 5vh 10%;
    color: $text;
    background-image: linear-gradient(45deg, $colorUn, $colorDeux);
    border: none;
    border-radius: 15px;
  }
  .autres_projets{
    @include flex(center);
    a{
      margin: 5vh 10%;
      color: $text;
      border: 3px solid $colorUn;
      border-radius: 30px;
      width: 100%;
    }
  }
  .projet_foret_nourriciere{
  @include bkg;
  background-image: url(bkg/nourriciere.jpg);/*projet_nourriciere.jpg*/
  }
  .projet_trackz{
    @include bkg;
    background-image: url(bkg/trackz.png);
  }
  .projet_isfsck{
    @include bkg;
    background-image: url(bkg/isfsck.png);
  }
}
.list_projets{
  margin: 5vh 0 0;
  .projet_genevieve{
    @include bkg;
    background-image: url(bkg/genevieve.png);
  }
  .projet_tfe{
    @include bkg;
    background-image: url(bkg/tfe.png);
  }
  .projet_trackz{
    @include bkg;
    background-image: url(bkg/trackz.jpg)
  }
  .projet_isfsck{
    @include bkg;
    background-image: url(bkg/isfsck.jpg);
  }
  .projet_endo{
    @include bkg;
    background-image: url(bkg/endo.jpg);
  }
  .projet_kanal{
    @include bkg;
    background-image: url(bkg/kanal.jpg)
  }
  .row{
    margin: 10vh 0;
  }
  h2{
    text-align: center;
    padding: 15px 30px;
  }
  .content .buttons{
    margin: 5vh 10%;
    color: $text;
    background-image: linear-gradient(45deg, $colorUn, $colorDeux);
    border: none;
    border-radius: 15px;
  }
}
.projets .entete{
  @include enteteBkg;
  background-image: url(bkg/projets.jpg);
  .row:first-child{
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    height: 30vh;
    padding-bottom: 5vh;
  }
}
.filter_projets{
  @include flex(space-around);
  background: linear-gradient(45deg, $colorUn, $colorDeux);
  padding: 3vh 0;
  text-align: center;
  display: none;
  ul li{
    list-style: none;
    margin: 1vh 0;
  }
}
.kanal{
  .entete{
    background-image: url(bkg/kanal.jpg);
    min-height: 80vh;
  }
  .row{
    @include sectionPadding;
  }
  .ligne_left{
    border-left: 3px solid $text;
    p, h2{
      margin-left: 5%;
    }
  }
  hr.ligne{
    border: 2px solid $text;
    margin: 0;
  }
  .ligne_right{
    border-right: 3px solid $text;
    p{
      margin-right: 5%;
    }
  }
  img{
    width: 110%;
  }
  img:last-child{
    margin-left: -5%;
  }
}
.endo{
  .entete{
    background-image: url(bkg/endo.jpg);
    min-height: 80vh;
  }
  .row{
    @include sectionPadding;
  }
  .ligne{
    width: 100%;
    height: 10px;
    background-image: linear-gradient(45deg, $colorDeux, $colorUn);
    margin: 0;
  }
}
.isfsck{
  .entete{
    background-image: url(bkg/isfsck_projets.jpg);
    min-height: 80vh;
    .text{
      text-align: center;
    }
  }
  .bkg_isfsck{
    background-image: url(bkg/isfscquoi_bande.png);
    background-size: contain;
    background-repeat: repeat-y;
  }
  .row{
    @include sectionPadding;
  }
  .text{
    text-align: left;
    margin: 2vh 0;
    .titre{
      @include flex(space-between);
      margin-bottom: 2vh;
      h2{
        margin: 0!important;
      }
    }
  }
  .ligne{
    height: 3px;
    width: 40%;
    background-color: $colorUn;
  }
}
.trackz{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  .video-header {
    position: absolute;
    width: 100vw;
    height: 100vh;
    &, video, .viewport-header {
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
    }
    video {
      object-fit: cover;
    }
    .viewport-header {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  section{      
    background: white;
    position: relative;
    padding: 1rem;
    margin-top: 100vh;
    &::before {
      content: "";
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      top: -100vh;
    }
  }
  .row{
    padding: 10vh 0 20vh;
  }
}

/*Objectifs*/
.objectifs{
  margin: 0 auto;
  @include sectionPadding;
  p{
    margin: 2vh 0 0;
  }
}

/*CV*/
.cv {
  button{
    @include flexBtn;
    @include paddingBtn;
    color: $text;
    background-image: linear-gradient(45deg, $colorUn, $colorDeux);
    border: none;
    border-radius: 30px;
  }
  .entete{
    background-image: url(bkg/cv.jpg);
  }
}
/* Expériences */
.cv_learning{
  @include sectionPadding;
  h2.competences{
    text-align: center;
    margin: 5vh 0;
  }
  .work_with{
    @include flex(space-around);
    img{
      @include img;
    }  
  }
  .content {
    p.agences{
      margin: 30px;
    }
    .details p{
      margin-left: 60px;
    }
  }
  .projets_button{
    @include flex(center);
    a{
      @include paddingBtn;
      color: $text;
      border: 3px solid $text;
      border-radius: 10px;
      margin: 5vh 5%;
    }
  }
}
.ancienne_vie{
  .secteurs{
    @include flex(space-around);
    padding: 5vh 0;
  }
  .work, .cours{
    display: block;
  }
  .ligne {
    border-left: 2px solid $colorUn;
    .pays{
      display: flex;
      align-items: center;
      margin: 0 1%;
      &:nth-child(2){
        margin: 5vh 1%;
      }
      img{
        @include img;
      }
      h2{
        margin-left: 10px;
      }
    }
    h2.date{
      margin: 5vh 40px;
    }
    p.ou_quoi{
      margin: 3vh 0;
      text-align: center; 
    }
    p.todolist{
      margin: 2vh 0;
      text-align: center;
    }
  }
}
.vie{
  .entete{
    @include enteteBkg;
    background-image: url(bkg/vie.jpg);
    .row:first-child{
      align-items: flex-end;
      justify-content: center;
      text-align: center;
      height: 30vh;
      padding-bottom: 5vh;
    }
  }
}

/* Competences*/
.cv_skill{
  @include sectionPadding;
  .content{
    text-align: center;
  }
  .content img{
    @include img;
  }
}

/*About*/
.about .entete{
  background-image: url(bkg/about.jpg);
}
.social_network{
  @include flex(center);
  margin: 5vh 0;
}
.social-buttons a{
    align-items: center;
    justify-content: center;
    display: inline-flex;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 8px;
    font-size: 18px;
    text-decoration: none;
    z-index: 1;
    &::before{
      content: "";
      position: absolute;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: linear-gradient(45deg, $colorDeux, $colorUn);
      z-index:-1;
      transition: 0.3s ease-in;
    }
    &:hover::before{
      transform: scale(0);
    }
    &:hover i{
      transform: scale(2.2);
    }
    i{
      transition: 0.3s ease-in;
    }
}
.icon_code{
  @include flex(flex-end);
}
.about_row{
  margin: 5vh 0 0;
}
.qui{
  @include sectionPadding;
}
.facts{
  padding-top: 5vh;
}

/*Footer*/
footer{
  padding-top: 10vh;
}
.btn_contact {
  @include flex(center);
  width: 50px;
  height: 50px;
  position: fixed;
  right: 5%;
  bottom: 10vh;
  text-align: center;
  background-color: $text;
  border-radius: 10px;
  opacity: 1;
  transition: all 0.4s ease-in-out 0s;
  a i {
    color: $bkg;
  }
}
.copyright h2{
  text-align: center;
  width: 100%;
  height: 10vh;
  margin: 0;
}


@media screen and (max-width: 900px){
  i{
    display: none!important;
  }
  header{
    h2{
      font-size: 2rem;
      margin: 0;
    }
    .container .navbar {
      .menu {
        flex-direction: column;
      }
    }
    .wrapper{
      float: right;
    }
  }
  .ancienne_vie{
    h1{
      text-align: center;
    }
    p.ou_quoi{
      margin: 3vh 10%!important;
    }
    p.todolist{
      margin: 2vh 10%!important;
    }
  }
  .social-buttons a i{
    display: block!important;
  }
  
  footer{
    .btn_contact{
      bottom: 2vh;
      i{
        display: inline-block!important;
      }
    }
  }

}